<!--
Melanie Spence and Ana Sanchez
CST-339
Milestone
October 3, 2021
This is our own work
-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/logoutDefaultTemplate">

<body>

	<div layout:fragment="content">
		<p>Up your game with a video game catalog. Never forget what games you own. A video game collection site where you can create, view, edit, and delete video games from your list. Enter epicness! Sign up and start logging your games today!</p>
	</div>

</body>

</html>