<!--
Melanie Spence and Ana Sanchez
CST-339
Milestone
October 24, 2021
This is our own work
-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/logoutDefaultTemplate">

<body>

	<div layout:fragment="content">
		<form style="padding-right: 70%" action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">

			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" th:field="*{username}" id="username" aria-describedby="username" 
					placeholder="Username">
				<small style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username</small>
			</div>
			
			<div class="form-group">

				<label for="password">Password</label>
				<input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password">
			<small style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password</small>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>
	</div>

</body>

</html>