<!--
Melanie Spence and Ana Sanchez
CST-339
Milestone
October 3, 2021
This is our own work
-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/loginDefaultTemplate">

<body>

	<div layout:fragment="content">

		<!-- Modal -->
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProduct">
			Create Product
		</button>

		<!-- Error -->
		<div th:if="${error == 'error'}">
			<small style="color:red">Error Creating Product</small>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="createProduct"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Create Product Form</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">

						<!-- Form -->
						<form action="#" th:action="@{createProduct}" th:object="${productModel}" method="post">

							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" th:field="*{name}" aria-describedby="name"
									placeholder="Name">
								<small style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name</small>
							</div>


							<div class="form-group">
								<label for="publisher">Publisher</label>
								<input type="text" class="form-control" th:field="*{publisher}" aria-describedby="publisher" placeholder="Publisher">
								<small style="color:red" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Publisher</small>
							</div>
				
							<div class="form-group">
								<label for="age">Genre</label>
								<input type="text" class="form-control" th:field="*{genre}" aria-describedby="genre" placeholder="Genre">
								<small style="color:red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre</small>
							</div>
				
				
							<div class="form-group">
								<label for="email">Rating</label>
								<input type="text" class="form-control" th:field="*{rating}" aria-describedby="rating" placeholder="Rating">
								<small style="color:red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating</small>
							</div>
							
							<div class="form-group">
								<label for="phoneNum">Release Date</label>
								<input type="date" class="form-control" th:field="*{releaseDate}" aria-describedby="releaseDate" placeholder="Release Date">
								<small style="color:red" th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Release Date</small>
							</div>
				
							<div class="form-group">
								<label for="username">Image</label>
								<input type="text" class="form-control" th:field="*{image}" aria-describedby="image" placeholder="Image URL">
								<small style="color:red" th:if="${#fields.hasErrors('image')}" th:errors="*{image}">Image</small>
							</div>
							<div class="form-group">
								<label for="password">Description</label>
								<textarea rows="4" cols="50" class="form-control" th:field="*{description}" placeholder="Description"></textarea>
								<small style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description</small>
							</div>

					</div>
					
					
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
					</div>
				</div>
			</div>
		</div>
		<br /><br /><br />

		<!-- Display of Products as Cards -->
		<div class="container">
			<div class="row">
				<div th:each="product : ${products}">

					<div class="col">
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" img th:src="${product.image}" alt="Image of ${product.name}]">
							<div class="card-body">
								<h5 class="card-title" th:text="${product.name}">Card title</h5>
								<p class="card-text" th:text="${product.description}">Some quick example text to build
									on the card title and make up the bulk of the card's content.</p>
								<a href="#" class="btn btn-primary">Edit</a>
								<a href="#" class="btn btn-danger">Delete</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
			
	<!-- Lines -->
	<br />
	<hr />
		
	</div>

</body>

</html>