<!--
Melanie Spence and Ana Sanchez
CST-339
Milestone
October 24, 2021
This is our own work
-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/logoutDefaultTemplate">

<body>

	<div layout:fragment="content">

		<form style="padding-right: 70%" action="#" th:action="@{doRegister}" th:object="${registerModel}" method="post">

			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" th:field="*{firstName}" aria-describedby="firstName" placeholder="First Name">
				<small style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName</small>
			</div>


			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" th:field="*{lastName}" aria-describedby="lastName" placeholder="Last Name">
				<small style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName</small>
			</div>

			<div class="form-group">
				<label for="age">Age</label>
				<input type="number" class="form-control" th:field="*{age}" aria-describedby="age" placeholder="Age">
				<small style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age</small>
			</div>


			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" th:field="*{email}" aria-describedby="emailHelp" placeholder="Email">
				<small style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email</small>
			</div>
			
			<div class="form-group">
				<label for="phoneNum">Phone Number</label>
				<input type="text" class="form-control" th:field="*{phoneNum}" aria-describedby="phoneNumHelp" placeholder="Phone Number">
				<small style="color:red" th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}">Phone Number</small>
			</div>

			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" th:field="*{loginUser.username}" aria-describedby="username" placeholder="Username">
				<small style="color:red" th:if="${#fields.hasErrors('loginUser.username')}" th:errors="*{loginUser.username}">Username</small>
			</div>
			<div class="form-group">

				<label for="password">Password</label>
				<input type="password" class="form-control" th:field="*{loginUser.password}" placeholder="Password">
				<small style="color:red" th:if="${#fields.hasErrors('loginUser.password')}" th:errors="*{loginUser.password}">Password</small>
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>

		</form>
		<br />
	</div>

</body>

</html>