<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

	<div th:fragment="header">

		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Game+1</a>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="nav-item nav-link" href="/">Home</a>
					<a th:classappend="${#httpServletRequest.getRequestURI() == '/register/' ? 'active':''}"class="nav-item nav-link" href="/register/">Register</a>
					<a th:classappend="${#httpServletRequest.getRequestURI() == '/login/' ? 'active':''}"class="nav-item nav-link" href="/login/">Login</a>
				</div>
			</div>
		</nav>
		
		<!-- Page Title -->
		<div style="padding-left: 70px; padding-right: 70px; padding-top: 40px;"> 
		<h1 th:text="${title}">Default Title</h1>
		<hr />
		</div>
		
	</div>

	<!-- Common Footer Fragment -->
	<div th:fragment="footer">

	</div>

</body>