<!--
Melanie Spence and Ana Sanchez
CST-339
Milestone
October 3, 2021
This is our own work
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial scale=1">
	<title th:text="${title}">Default Title</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.js"></script>

</head>

<body>

	<!-- Insert Header Fragment -->
	<div th:replace="layouts/loginCommon :: header">My Header</div>

	<!-- Main Body Content -->
	<div style="padding-left: 70px; padding-right: 70px;">
		<section layout:fragment="content">
			<p>My Body Contents</p>
		</section>
	</div>

	<!-- Insert Footer Fragment -->
	<div th:replace="layouts/loginCommon :: footer">My Footer</div>


</body>



</html>